{% extends 'groups/group_base.html' %}

{% block pregroup %}

<h1>{{ group.name|truncatechars:20 }}</h1>
<h2>Member Count: {{ group.members.count }}</h2>
<div class="content">
    <!-- <h1>Slug...{{ group.slug }}...</h1> -->
    {% if user in group.members.all %}
    <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><i class="fas fa-user-slash"></i>
        Leave</a>
    {% else %}
    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><i class="far fa-check-circle"></i>
        Join</a>
    {% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
    {% if group.posts.count == 0 %}
    <h2>No Posts in this group yet!</h2>
    {% else %}
    {% for post in group.posts.all %}
    {% include "posts/_post.html" %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}