{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <h1>Login</h1>
    <form method="POST"> {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</div>

{% endblock %}