{% extends "base.html" %}

{% block content %}

<div class="posts-page">
    <div class="container">
        <div class="row">
            {% block prepost %}{% endblock %}
            {% block post_content %}{% endblock %}
            {% block postpost %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}