{% extends "posts/post_base.html" %}
{% load bootstrap4 %}

{% block post_content %}
<h4>Create a new post!</h4>
<form action="{% url 'posts:create' %}" method="POST" id="postForm">{% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary btn-large" value="Post">
</form>
{% endblock %}
