{% extends "posts/post_base.html" %}


{% block prepost %}
<div class="col-md-4">
    <h1>@{{post_user.username}}</h1>
</div>
{% endblock %}

{% block post_content %}
<div class="col-md-8">
    {% for post in post_list %}
    {% include "posts/_post.html" %}
    {% endfor %}
</div>
{% endblock %}